*{
    box-sizing: border-box;
    padding: 0; margin: 0;
    font-family: 'Epilogue', sans-serif;
   
}
body{
    background:hsl(0, 0%, 98%);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: 0 auto 2em;
}
.for-menu-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin:  auto; 
    overflow: auto;
    right: -100vw;
    z-index: 1;
    transition:right 0.6s linear;
    top: 0;
    
}
.hide{
    display: flex;
    right: 0;

}
#for-register{
    border:1px solid rgba(0, 0, 0, 0.397);
}
.for-dropdown1, .for-dropdown2{
    display: flex;
    place-items: center center;
    gap: 5px;
}

.opacity-section{
    background: black;
    opacity: 0.6;
    height: inherit;
    width:40%;
}
.nav-list1, .nav-list2{
    list-style-type: none;
    margin: 0.5em 1em;
    display: none;
    transition: 3s;
    
    /* display: none; */
}
 .hide-drop{ 
    display: block;
 }
 li:hover{
    background-color: pink;
    border-radius: 10px;
    color: white;
}
li{
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin:0.1em 0 0.4em;
    padding: 0.5em;
    cursor: pointer;
}
.for-menu div{
    cursor: pointer;
}


.for-menu{
    width: 60%;
    background: white;
    height: 100vh;
    padding: 0.1em 2em;
    display: flex;
    flex-direction:column;
    row-gap: 1.5em;
}

.section2 div{
    text-align: center;
    margin: 1.5em auto;
    padding: 0.5em;
    border-radius: 15px;
    cursor:pointer;

}
.section1{
    display: flex;
    flex-direction: column;
    gap:1.5em;
}
#for-close{
    display: flex;
    justify-content: end;
    padding: 1em;
}
.hero-image{
    height: 50vh;
    max-width: 100vw;
    background: url('images/image-hero-mobile.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.write-up{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:3em auto 0;
    row-gap: 2em;;
}
.write-up p{
    padding: 0 4em;
}
a{
    text-decoration: none;
    background: black;
    color: white;
    width: 35vw;
    margin: auto;
    padding: 0.8em;
    border-radius: 15px;;
}
a:hover{
    background:white;
    color:hsl(0, 0%, 8%);
    border: 1px solid  hsl(0, 0%, 8%);
}
.other-logos {
    display: flex;
    justify-content: space-around;
}
.other-logos img{
    height: 30px;
    width:50px;
}
footer{
    margin: 10em 2em 1em;;
}
.my-profile{
    padding:0;
    color: black;
    background: hsl(0, 0%, 98%);
    border:0;
    margin-top: 50px;
    text-decoration: underline;
    color:green;
}
.my-profile:hover{
    border:0;
}
@media screen and (min-width: 900px) {
    nav{
        display: flex;
        justify-content: left;
        gap: 1em;
        margin: 0 auto 2em;
        height: 9vh;
    }
    .for-menu-container{
        position: relative;
        right:0;
        overflow: hidden;
        padding:0;
        height: 100%;
        margin:0;
        z-index:1;
    }
    .opacity-section{
        display: none;
    }
    .for-menu{
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        background:hsl(0, 0%, 98%);
    }
    .open-and-close{
        display: none;
    }
    #for-close{
        display: none;
    }
    .section1{
        flex-direction: row;
    }
    .section2{
        display: flex;
        flex-direction: row;
        padding:0;
        justify-content: space-between;
        width: 20%;
    }
    .section2 div{
        margin: 0 auto;
        padding:0.1em 0.6em;;
    }
    .nav-list1, .nav-list2{
        background: white;
        border-radius: 10px;;
        position:fixed;
        z-index:2;
        border: 1px solid hsl(0, 0%, 98%);
        padding: 0.6em 1.2em;
    }
    
    .nav-list1{
        left: 70px;
    }
    .hero-image{
        background: url('images/image-hero-desktop.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        order: 2;
    }
    main{
        display: grid;
     grid-template-columns: repeat(2, 1fr);
     padding: 6em 4em;;
     column-gap: 1em;
    }
    a{
        width: 30%;
    }

}


